<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.fnfr.open.automation.tool">
      <tool
            description="iTest plug-in that allows a user to interact with test cases"
            icon="icons/dialog.icon.png"
            id="net.liveoaklabs.itest.dialog"
            name="Dialog">
         <open
               nextAction="close"
               openNewWindow="true"
               sessionFactory="net.liveoaklabs.itest.dialog.SessionFactory"
               sessionProperties="net.liveoaklabs.itest.dialog.SessionProperties">
         </open>
         <close>
         </close>
         <request
               action="yesno"
               handler="net.liveoaklabs.itest.dialog.DialogRequestHandler">
         </request>
         <request
               action="message"
               handler="net.liveoaklabs.itest.dialog.DialogRequestHandler">
         </request>
         <request
               action="textbox"
               handler="net.liveoaklabs.itest.dialog.DialogRequestHandler">
         </request>
         <request
               action="choose"
               handler="net.liveoaklabs.itest.dialog.DialogRequestHandler">
         </request>
      </tool>
   </extension>

</plugin>
